<div class="headline">Versand</div>


<div class="row">
    <div class="col-12 centric last-shipment">
        Tag, Datum: Tonnen
    </div>

    <div class="col-12">
        Bars
    </div>

    <div class="col-12">
        Area
    </div>
</div>