@inject IDbContextFactory<DbInfoscreenContext> ContextFactory

<div class="headline">Versand</div>


<div class="row">
    <div class="col-12 centric last-shipment">
        @lastShipment
    </div>

    <div class="col-12">
        <RadzenChart>
            <RadzenColumnSeries Data="@lastTenDays" CategoryProperty="Datum" ValueProperty="Verladen" Title="Letzte 10 Tage">
                <RadzenSeriesDataLabels Visible="true" OffsetY="50" />
            </RadzenColumnSeries>
            
            <RadzenColumnOptions Radius="5" />
            <RadzenCategoryAxis Padding="20" />
            <RadzenValueAxis Min="0" Step="400">
                <RadzenGridLines Visible="true" />
            </RadzenValueAxis>
            <RadzenLegend Visible="false" />
        </RadzenChart>
    </div>

    <div class="col-12">
        Area
    </div>
</div>