<h3 class="h5">Stahlwerk</h3>

<div class="row">
    <div class="col-12">
        Stundenleistung [t/h]
    </div>
    <div class="col-4">
        1
    </div>
    <div class="col-4">
        2
    </div>
    <div class="col-4">
        3
    </div>


    <div class="col-12">
        Ausbringen
    </div>
    <div class="col-4">
        1
    </div>
    <div class="col-4">
        2
    </div>
    <div class="col-4">
        3
    </div>


    <div class="col-12">
        Power On [min.]
    </div>
    <div class="col-4">
        1
    </div>
    <div class="col-4">
        2
    </div>
    <div class="col-4">
        3
    </div>
</div>
