@page "/"
@*@page "/infoscreen"*@
@inject ScreenData ScreenData
@inject IWebHostEnvironment Environment

<PageTitle>Infoscreen</PageTitle>

@if (mudItems == null)
{
    <p>Loading ...</p>
}
else
{
    <MudCarousel @ref="mudCarousel" ItemsSource="mudItems.Where(item => item.StartDate <= DateTime.Now && item.EndDate >= DateTime.Now).OrderBy(item => item.Order)" Class="mud-width-full" Style="height: 100%" ShowArrows="true" ShowBullets="false" AutoCycle="false" AutoCycleTime="@cycleTimer" TData="SinglePage" SelectedIndexChanged="@(args => CarouselChanged(args))">
        <ItemTemplate>
            @if (context.IsImage)
            {
                <img src="@context.InternFilePath" />
            }
            else
            {
                @switch (context.InternPosition.Substring(context.InternPosition.IndexOf(';') + 1))
                {
                    case "Accidents":
                        <Accidents />
                        break;
                    case "STW1":
                        <STW1 />
                        break;
                    case "STW2":
                        <STW2 />
                        break;
                    case "STW3":
                        <STW3 />
                        break;
                    case "WW1":
                        <WW1 />
                        break;
                    case "WW2":
                        <WW2 />
                        break;
                    case "UA1":
                        <UA1 />
                        break;
                    case "UA2":
                        <UA2 />
                        break;
                    case "VS1":
                        <VS1 />
                        break;
                    case "Companies":
                        <Companies />
                        break;
                    case "Visitors":
                        <Visitors />
                        break;
                    case "Weather":
                        <Weather />
                        break;
                }
            }
        </ItemTemplate>
    </MudCarousel>
}

<FooterLine />

